.clear-float::after
  content ''
  clear both
  display block
  
a
  text-decoration none

.button
  display inline-block
  background: #527FFF
  cursor pointer
  height 32px
  padding 5px 10px
  box-sizing border-box
  border-radius 32px
  font-family: Roboto-Bold;
  font-size: 16px;
  line-height 22px
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  box-sizing: border-box
  &:hover
    opacity 0.8

.square-button
  font-family: Roboto-Medium;
  height 40px
  line-height 30px
  border-radius 6px
.card
  font-family: Roboto-Regular
  padding 22px 34px
  background: #FCFDFF;
  box-shadow: 0 2px 4px 0 #B0D9FF;
  border-radius: 8px;
  margin-bottom 22px

@font-face {
  font-family: Roboto-Bold;
  src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-Medium;
  src: url('fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: Roboto-Regular;
  src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: PingFangSC-Medium, sans-serif;
  src: url('fonts/PingFangSC-Medium.ttf');
}
@font-face {
  font-family: PingFangSC-Semibold, sans-serif;
  src: url('fonts/PingFangSC-Semibold.ttf');
}
@font-face {
  font-family: PingFangSC-Regular, sans-serif;
  src: url('fonts/PingFangSC-Regular.ttf');
}