[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pysqlite3 = "*"

[packages]
flask = "*"
eospy = "*"
Flask = "*"
peewee = "*"
gunicorn = "*"
supervisor = "*"
libeospy = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"